In [1]:
import pandas as pd

In [2]:
DownloadedPath = "Resources/JC-20"
pathEnd ="-citibike-tripdata.csv"

In [3]:
df = pd.read_csv(DownloadedPath+"2101"+pathEnd)
df.to_csv("ChallengeData/Dataset.csv",index=False, header=True)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [4]:
myYear="20"
for month in range(6,13):
    if month<10:
        myMonth="0"+str(month)
    else:
        myMonth=str(month)
    mydf=pd.read_csv(DownloadedPath+myYear+myMonth+pathEnd,encoding='utf-8')
    mydf.to_csv("ChallengeData/Dataset.csv",mode="a", index=False, header=False)

In [5]:
df = pd.read_csv("ChallengeData/Dataset.csv")
df.count()

tripduration               247380
starttime                  247380
stoptime                   247380
start station id           247380
start station name         247380
start station latitude     247380
start station longitude    247380
end station id             247380
end station name           247380
end station latitude       247380
end station longitude      247380
bikeid                     247380
usertype                   247380
birth year                 247380
gender                     247380
dtype: int64